/* WebKit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust the width here */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: black; /* Scrollbar color */
  border-radius: 10px; /* Rounded edges */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Reduces scrollbar width */
  scrollbar-color: black transparent; /* Scrollbar color and track color */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.075); /* Light grey for background */
  border-top: 8px solid #000000; /* White for the animated part */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s ease-in-out infinite; /* Smooth transition */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.heading{
  color: black;
  font-weight: bold;
  font-size: 34px;
}
